/* 
    Created on : 15.05.2019, 10:19:00
    Author     : LG
*/

body
{
    background-color: #FFFFFF;
    font-family: fantasy;
}

#main
{
    position: relative;
    margin: 0px auto;
    width: 1014px;
    height: 688px;
    background-color: #ce8483;
}

#login
{
    position: absolute;
    left: 770px;
    top: -10px;
    height: 235px;
    width: 300px;
    background-size: cover; 
}

#messageLogin
{
    position: absolute;
    left: 770px;
    top: 30px;
    height: 235px;
    width: 300px;
    background-size: cover; 
}

#banner
{
    position: absolute;
    top: 5px;
    left: 205px;
    height: 135px;
    width: 570px;
    background-image: url("./images/banner_background.jpg");
    background-size: cover; 
}

#banner h1{
    text-align: center;
    color: darkred;
    font-size: 45px;
    margin: 70px;
    font-family:monospace;
    font-weight:bold;
}

#bannerImage
{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 195px;
}

#menu
{
    position: absolute;
    top: 145px;
    left: 5px;
    width: 195px;
    height: 536px;
    background-color: darkred;
    text-decoration: none;
    line-height: 22px;
}

#content
{
    position: absolute;
    top:145px;
    left: 205px;
    width: 804px;
    height: 536px;
    background-image: url("./images/background.jpg");
}

#content h3
{
    text-align: center;
    color: darkred;
    font-size: 35px;
    margin: 40px;
    font-family:monospace;
    font-weight:bold;
}

#content h4
{
    text-align: center;
    color: #444;
    font-size: 25px;
    margin: 40px;
    font-family:monospace;
    font-weight:bold;
}

li{
    list-style: none;
    font-family:monospace;
    font-size: 14pt;
    padding-top: 5px;
}


a:link 
{  
  text-decoration:none;
  font-family:monospace;
  color: white;
}
a:visited 
{  
  text-decoration:none;
  font-family:monospace;
  color: white;
}
a:hover 
{  
  text-decoration:none;
  font-family:monospace;
  color: white;
}

.table-condensed
{
    background-color:rgba(0, 0, 0, 0.05);
    margin: 0px;
    width: 100%;
    height: 100%;
}